
/* ===================
Variables
=================== */

/* ---- Colors ----*/

$main-font: 'Karla', sans-serif;
$bg-white: #f7f7f7;
$lightgrey: #e7e7e7;
$darkgrey: #c4c4c4;

/* ---- Typography ----
Type scale (https://type-scale.com/):
Base size (1em): 16px
Scale: 1.250 - Major Third
*/

$text-small: 0.8rem;

/* ===================
Universal styles
=================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ===================
Base style
=================== */

body {
    height: 100%;
    font-family: $main-font;
    background-color: $bg-white;
}

header {
    position: fixed;
    height: 2.5rem;
    background: $darkgrey;
    width: 100%;
    z-index: 999;
}

h1 {
    font-size: 2.441rem;
}

h2 {
    font-size: 1.953rem;
}

h3 {
    font-size: 1.563rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 16px;
}




/* ===================
ID selectors
=================== */

#index-main-card {
    margin-bottom: 10px;
    padding: 1rem;

    .btn {
        align-self: center;
    }
}

/* ===================
Class selectors
=================== */

.content {
    min-height: calc(100vh - 52px);
    padding-bottom: 50px;
}

/* Fix for collapsing margins on fixed nav */
.collapse-fix {
    height: 2.5rem;
    margin-bottom: 25px;
}

.nav {
    background-color: $darkgrey;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    position: absolute;
    top: 100%;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    ul {
        display: inline-block;
        text-decoration: none;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

/* CSS collapsible nav */
.nav-menu {
    display: none;
    &:checked ~ .nav {
        transform: scale(1, 1);
        a {
            opacity: 1;
            transition: opacity 250ms ease-in-out 250ms;
        }
    }
}

/* Hamburger menu */
.nav-menu-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;

    span,
    span::before,
    span::after {
        display: block;
        background: black;
        height: 2px;
        width: 2rem;
        border-radius: 2px;
        position: relative;
    }

    span::before,
    span::after {
        content: "";
        position: absolute;
    }

    span::before {
        bottom: 6px;
    }

    span::after {
        top: 6px;
    }
}

.grey-container {
    background-color: $lightgrey;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: #404040
    }
}

.location {
    padding: 10px 5px 10px 40px;
    margin-bottom: 15px;

    .text-small {
        font-size: $text-small;
    }
}

.filter-selection {
    display:flex;
    justify-content: flex-end;
    margin-right: 5%;
    padding: 10px 0;

    p {
        margin-right: 5px;
    }

    select {
        width: 30%;
    }

    p,
    select {
        display: inline-block;
    }
}

.btn {
    background-color: $darkgrey;
    padding: 10px;
    display: inline-block;
    margin: 10px auto;
}

.survey-form {
    &:first-of-type {
       margin-top: 30px; 
    }
    margin-bottom: 20px;

    legend {
        font-size: 1.953rem;
        display: inline-block;
    }
    form {
        margin: 0;
    }
}

.survey-header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    legend {
        align-self: center;
    }
}

.input-box {
    margin-bottom:20px;

    label,
    input,
    select,
    textarea {
        display: block;
        width: 67%; /* Margin-left + width = 90% and rest 10% is margin-right */
        margin-left: 23%;
    }
    label {
        font-size: 1.25rem;
        margin-bottom: 5px;
    }

    input,
    textarea {
        padding-left: 6px;
        border: none;
        border-radius: 5px;
        height: 1.875rem;
    }

    textarea {
        height: 5.2rem;
    }

    /* 
    Radio buttons are nested inside ul-li element. Label and imput styling need to be adjusted to
    get matching style with other input elements
    */
    ul {
        list-style: none;
        margin-left: 23%;
        li {
            display: inline-flex;
            justify-content: space-evenly;
            width: 50%;
        }
        input,
        label {
            display: inline-block;
            margin-left: 0;
        }
        input {
            width: 10%;
            height: 20px; /* Equal height to label so centering is possible */
            align-self: center; /* Centering the radio button vertically */
        }
        label {
            width:67%;
            font-size: 1rem;
            align-self: center;
            margin-bottom: 0;
        }
    }
}

.svg-icon {
    height: 52px;
    margin-left: 10px;
    margin-right: 10px;
}

.fixed-footer {
    position:fixed;
    display:flex;
    left: 0;
    bottom: 0;
    height: 52px;
    z-index: 999;
    width: 100%;
    border: rgba(0,0,0, 0.5) solid 1px;
    span {
        flex-basis: 43%;
        text-align:center;
        font-size: 1.25rem;
        text-transform: uppercase;
        padding-top: 14px;
    }
    #customer {
        background-color: $darkgrey;
    }
    #installation {
        background-color: $lightgrey;
    }
    .svg-icon {
        background-color: $lightgrey;
        margin: 0;
        border-left: rgba(0,0,0, 0.5) solid 1px;
    }
}

/* ===================
Responsivity and viewports
=================== */
