// ===================
// Container styles
// ===================

.content {
    min-height: calc(100vh - 52px);
    padding-bottom: 50px;
}

/* Fix for collapsing margins on fixed nav */
.collapse-fix {
    height: 2.5rem;
    margin-bottom: 25px;
}

// Grey box container for main elements
.grey-container {
    background-color: $lightgrey;
    @include center(90%);
    text-align: center;
    a {
        text-decoration: none;
        color: #404040
    }
}
