// ===================
// Footer styles
// ===================

.fixed-footer {
    // Fixed footer on the survey
    position:fixed;
    display:flex;
    left: 0;
    bottom: 0;
    height: 52px;
    z-index: 999;
    width: 100%;
    border-top: rgba(0,0,0, 0.5) solid 1px;
    span {
        flex-basis: 44%;
        text-align:center;
        font-size: 1.25rem;
        text-transform: uppercase;
        padding-top: 14px;
    }
    #customer {
        background-color: $darkgrey;
    }
    #installation {
        background-color: $lightgrey;
    }
    .svg-icon {
        background-color: $lightgrey;
        margin: 0;
        border-left: rgba(0,0,0, 0.5) solid 1px;
        flex-grow:1;
    }
}