/* ===================
Variables
=================== */
/* ---- Colors ----*/
/* ---- Typography ----
Type scale (https://type-scale.com/):
Base size (1em): 16px
Scale: 1.250 - Major Third
*/
/* ===================
Universal styles
=================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ===================
Base style
=================== */
body {
  height: 100%;
  font-family: "Karla", sans-serif;
  background-color: #f7f7f7;
}

header {
  position: fixed;
  height: 2.5rem;
  background: #c4c4c4;
  width: 100%;
  z-index: 999;
}

h1 {
  font-size: 2.441rem;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 16px;
}

/* ===================
ID selectors
=================== */
#index-main-card {
  margin-bottom: 10px;
  padding: 1rem;
}
#index-main-card .btn {
  align-self: center;
}

/* ===================
Class selectors
=================== */
.content {
  min-height: calc(100vh - 52px);
  padding-bottom: 50px;
}

/* Fix for collapsing margins on fixed nav */
.collapse-fix {
  height: 2.5rem;
  margin-bottom: 25px;
}

.nav {
  background-color: #c4c4c4;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  position: absolute;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.nav ul {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: black;
}

/* CSS collapsible nav */
.nav-menu {
  display: none;
}
.nav-menu:checked ~ .nav {
  transform: scale(1, 1);
}
.nav-menu:checked ~ .nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* Hamburger menu */
.nav-menu-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-menu-label span,
.nav-menu-label span::before,
.nav-menu-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2rem;
  border-radius: 2px;
  position: relative;
}
.nav-menu-label span::before,
.nav-menu-label span::after {
  content: "";
  position: absolute;
}
.nav-menu-label span::before {
  bottom: 6px;
}
.nav-menu-label span::after {
  top: 6px;
}

.grey-container {
  background-color: #e7e7e7;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.grey-container a {
  text-decoration: none;
  color: #404040;
}

.location {
  padding: 10px 5px 10px 40px;
  margin-bottom: 15px;
}
.location .text-small {
  font-size: 0.8rem;
}

.filter-selection {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  padding: 10px 0;
}
.filter-selection p {
  margin-right: 5px;
}
.filter-selection select {
  width: 30%;
}
.filter-selection p,
.filter-selection select {
  display: inline-block;
}

.btn {
  background-color: #c4c4c4;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
}

.survey-form {
  margin-bottom: 20px;
}
.survey-form:first-of-type {
  margin-top: 30px;
}
.survey-form legend {
  font-size: 1.953rem;
  display: inline-block;
}
.survey-form form {
  margin: 0;
}

.survey-header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
}
.survey-header legend {
  align-self: center;
}

.input-box {
  margin-bottom: 20px;
  /* 
  Radio buttons are nested inside ul-li element. Label and imput styling need to be adjusted to
  get matching style with other input elements
  */
}
.input-box label,
.input-box input,
.input-box select,
.input-box textarea {
  display: block;
  width: 67%;
  /* Margin-left + width = 90% and rest 10% is margin-right */
  margin-left: 23%;
}
.input-box label {
  font-size: 1.25rem;
  margin-bottom: 5px;
}
.input-box input,
.input-box textarea {
  padding-left: 6px;
  border: none;
  border-radius: 5px;
  height: 1.875rem;
}
.input-box textarea {
  height: 5.2rem;
}
.input-box ul {
  list-style: none;
  margin-left: 23%;
}
.input-box ul li {
  display: inline-flex;
  justify-content: space-evenly;
  width: 50%;
}
.input-box ul input,
.input-box ul label {
  display: inline-block;
  margin-left: 0;
}
.input-box ul input {
  width: 10%;
  height: 20px;
  /* Equal height to label so centering is possible */
  align-self: center;
  /* Centering the radio button vertically */
}
.input-box ul label {
  width: 67%;
  font-size: 1rem;
  align-self: center;
  margin-bottom: 0;
}

.svg-icon {
  height: 52px;
  margin-left: 10px;
  margin-right: 10px;
}

.fixed-footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  height: 52px;
  z-index: 999;
  width: 100%;
  border: rgba(0, 0, 0, 0.5) solid 1px;
}
.fixed-footer span {
  flex-basis: 43%;
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding-top: 14px;
}
.fixed-footer #customer {
  background-color: #c4c4c4;
}
.fixed-footer #installation {
  background-color: #e7e7e7;
}
.fixed-footer .svg-icon {
  background-color: #e7e7e7;
  margin: 0;
  border-left: rgba(0, 0, 0, 0.5) solid 1px;
}

/* ===================
Responsivity and viewports
=================== */

/*# sourceMappingURL=style.css.map */
