{% extends "layout.html" %}

{% block content %}
<div id="index-main-card" class="grey-container">
    <h1>Site survey</h1>
    <p>Create new site survey to document the site</p>
    <a href="{{ url_for('create_survey') }}" class="btn">New survey</a>
</div>

<!-- Filter button -->
<div class="filter-selection">
    <p>Order by:</p>
    <select>
        <option value="last_edit">Last edit</option>
        <option value="distance">Distance</option>
    </select>
</div>

<!-- Listing of locations -->
{% if locations %}
{% for location in locations %}
<div class="grey-container location">
    <p>{{ location.name }}</p>
    <p class="text-small">{{ location.street }} {{  location.post_code }} {{  location.city }} ({{ location.distance }} km)</p>
</div>
{% endfor %}
{% else %}
<div class="grey-container">
    <p>No locations to show</p>
</div>
{% endif %}
{% endblock %}

