<!DOCTYPE html>
<html>
    <head>
        <meta lang="en-GB">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Oswald:400,700" rel="stylesheet">  
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
        
        {% if title %}
            <title>{{ title }} - SiteSurveyApp</title>    
        {% else %}
            <title>SiteSurveyApp</title>
        {% endif %}
    </head>
    <body>
        <header>
            <input type="checkbox" class="nav-menu" id="nav-menu">
            <nav class="nav">
                <ul class="">
                    <li class="{% if active=='index' %}active-nav{% endif %}">
                        <a href="{{ url_for('index') }}">Etusivu</a>
                    </li>
                    </div>
                </ul>
            </nav>
            <!-- Hamburger menu -->
            <label for="nav-menu" class="nav-menu-label">
                <span></span>
            </label>
        </header>  
        <div class="">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>