<!DOCTYPE html>
<html>
    <head>
        <meta lang="en-GB">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Oswald:400,700" rel="stylesheet">  
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}" defer></script> -->
        
        {% if title %}
            <title>{{ title }} - SiteSurveyApp</title>    
        {% else %}
            <title>SiteSurveyApp</title>
        {% endif %}
    </head>
    <body>
        <header>
            <div class="profile-link">
                <a href="{{ url_for('user.account') }}">{{current_user.first_name }} {{ current_user.last_name }}</a>
            </div>
            <input type="checkbox" class="nav-menu" id="nav-menu">
            <nav class="nav">
                <ul class="">
                    <li class="{% if active=='index' %}active-nav{% endif %}">
                        <a href="{{ url_for('main.index') }}">Home</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="{% if active=='create_survey' %}active-nav{% endif %}">
                        <a href="{{ url_for('survey.create_survey') }}">Create survey</a>
                    </li>
                    <li class="">
                        <a href="{{ url_for('user.users') }}">Users</a>
                    </li>
                    <li class="">
                        <a href="{{ url_for('user.organizations') }}">Organizations</a>
                    </li>
                    <li class="">
                            <a href="{{ url_for('charger.chargers') }}">Chargers</a>
                    </li>
                    <li class="">
                        <a href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="{% if active=='login' %}active-nav{% endif %}">
                        <a href="{{ url_for('auth.login') }}">Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- Hamburger menu -->
            <label for="nav-menu" class="nav-menu-label">
                <span></span>
            </label>
            <div class="note-container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="note note-{{ category }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </div> 
        </header>  
        <div class="">
            <div class="collapse-fix"></div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>