<!DOCTYPE html>
<html>
    <head>
        <meta lang="en-GB">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Oswald:400,700" rel="stylesheet">  
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}" defer></script> -->
        
        {% if title %}
            <title>{{ title }} - SiteSurveyApp</title>    
        {% else %}
            <title>SiteSurveyApp</title>
        {% endif %}
    </head>
    <body>
        <header>
            <div class="profile-link">
                <a href="{{ url_for('account') }}">{{current_user.first_name }} {{ current_user.last_name }}</a>
            </div>
            <input type="checkbox" class="nav-menu" id="nav-menu">
            <nav class="nav">
                <ul class="">
                    <li class="{% if active=='index' %}active-nav{% endif %}">
                        <a href="{{ url_for('index') }}">Home</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="{% if active=='create_survey' %}active-nav{% endif %}">
                        <a href="{{ url_for('create_survey') }}">Create survey</a>
                    </li>
                    <li class="">
                        <a href="{{ url_for('create_user') }}">Create user</a>
                    </li>
                    <li class="">
                        <a href="{{ url_for('create_organization') }}">Create organization</a>
                    </li>
                    <li class="">
                        <a href="{{ url_for('create_user') }}">Create organization type</a>
                    </li>
                    <li class="">
                        <a href="{{ url_for('create_contact_person') }}">Create contact person</a>
                    </li>
                    <li class="">
                            <a href="{{ url_for('add_charger') }}">Add charger</a>
                        </li>
                        <li class="">
                                <a href="{{ url_for('view_chargers') }}">View chargers</a>
                            </li>
                    <li class="">
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="{% if active=='login' %}active-nav{% endif %}">
                        <a href="{{ url_for('login') }}">Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- Hamburger menu -->
            <label for="nav-menu" class="nav-menu-label">
                <span></span>
            </label>
        </header>  
        <div class="">
            <div class="collapse-fix"></div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>