// ===================
// Variables
// =================== */

// ---- Colors ----

$main-font: 'Karla', sans-serif;
$header-font: 'Oswald', sans-serif;
$bg-white: #f7f7f7;
$lightgrey: #e7e7e7;
$darkgrey: #c4c4c4;
$darkgrey-hover: lighten($darkgrey, 5%);
$lightblack: lighten(black, 25%);

$text-small: 0.8rem;
