// ===================
// Button styles
// ===================

.btn {
    background-color: $darkgrey;
    padding: 10px;
    display: block;
    margin: 10px auto;
    max-width: 30%;
    min-width: 150px;

    // Hover style for the button
    &:hover {
        background-color: $darkgrey-hover;
    }
}