.note-container {
    position: relative;
    opacity: 0;
    animation: fade-in-out ease-in;
    animation-duration: 6s;
    transform-origin: left;

    .note {
        position: fixed;
        text-align: center;
        top: 60px;
        left: 45%;
        padding: 0.75em 0.625em;
        border-radius: 2px;
        width: 32em;
        z-index: 998;
        transform: translate(-50%); /* Centering the container horizontally to middle of the screen */
    }
    
    .note-success {
        background-color: #4bb543;
        color: #ebffe9;
    }
    
    .note-alert {
        background-color: #cc0000;
        color: #d1b5b5;
    }
}