{% extends "layout.html" %}

{% block content %}
<div id="index-main-card" class="grey-container flex-container">
    <div class="col-2">
        <h1>Workorder</h1>
        <p>Create new workorder</p>
        <a href="{{ url_for('survey.create_workorder') }}" class="btn">New workorder</a>
    </div>
    <div class="col-2">
        <h1>Site survey</h1>
        <p>Create new site survey to document the site</p>
        <a href="{{ url_for('survey.create_survey') }}" class="btn">New survey</a>
    </div>
</div>

<!-- Filter button -->
<div class="filter-selection">
    <p>Order by:</p>
    <select>
        <option value="last_edit">Last edit</option>
        <option value="distance">Distance</option>
    </select>
</div>

<!-- Listing of locations -->
{% if surveys %}
    {% for survey in surveys %}
    <div class="grey-container location">
        <a href="{{ url_for('survey.survey', survey_id=survey.id) }} ">{{ survey.name }}</a>
        <p class="text-small">{{ survey.address }}, {{ survey.postal_code }} {{  survey.city }}</p>
    </div>
    {% endfor %}
{% else %}
<div class="grey-container">
    <p>No locations to show</p>
</div>
{% endif %}

{% endblock %}

