{% extends "layout.html" %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/survey.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="content">
    <form action="" method="POST" enctype="multipart/form-data">
        <!-- Customer form -->
        <div class="grey-container survey-form">
            {{ form.hidden_tag() }}
            <div class="survey-header">
                <img class="svg-icon" src="{{ url_for('static', filename='img/icon_person.svg') }}" alt="person icon">
                <legend>Customer</legend>
            </div>
            <div class="input-box">
                {{ form.first_name.label }}
                {{ form.first_name }}
                {% if form.first_name.errors %}
                <div class="error">
                    {% for error in form.first_name.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                    {{ form.last_name.label }}
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                    <div class="error">
                        {% for error in form.last_name.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            <div class="input-box">
                {{ form.title.label }}
                {{ form.title }}
                {% if form.title.errors %}
                <div class="error">
                    {% for error in form.title.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.email.label }}
                {{ form.email }}
                {% if form.email.errors %}
                <div class="error">
                    {% for error in form.email.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.phone_number.label }}
                {{ form.phone_number }}
                {% if form.phone_number.errors %}
                <div class="error">
                    {% for error in form.phone_number.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Location form -->
        <div class="grey-container survey-form">
                <div class="survey-header">
                    <img class="svg-icon" src="{{ url_for('static', filename='img/icon_building.svg') }}" alt="building icon">
                    <legend>Location</legend>
                </div>
                <div class="input-box">
                    {{ form.location_name.label }}
                    {{ form.location_name }}
                    {% if form.location_name.errors %}
                    <div class="error">
                        {% for error in form.location_name.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="input-box">
                    {{ form.address.label }}
                    {{ form.address }}
                    {% if form.address.errors %}
                    <div class="error">
                        {% for error in form.address.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="input-box">
                    {{ form.postal_code.label }}
                    {{ form.postal_code }}
                    {% if form.postal_code.errors %}
                    <div class="error">
                        {% for error in form.postal_code.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div><div class="input-box">
                    {{ form.city.label }}
                    {{ form.city }}
                    {% if form.city.errors %}
                    <div class="error">
                        {% for error in form.city.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="input-box">
                    {{ form.country.label }}
                    {{ form.country }}
                    {% if form.country.errors %}
                    <div class="error">
                        {% for error in form.country.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="input-box">
                    <button id="btn-coords" type="button">Use my coordinates</button>
                    <p id="error"></p>
                </div>
                <div class="input-box">
                    {{ form.coordinate_lat.label }}
                    {{ form.coordinate_lat }}
                    {% if form.coordinate_lat.errors %}
                    <div class="error">
                        {% for error in form.coordinate_lat.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="input-box">
                    {{ form.coordinate_long.label }}
                    {{ form.coordinate_long }}
                    {% if form.coordinate_lat.errors %}
                    <div class="error">
                        {% for error in form.coordinate_long.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

        <!-- Charger form -->
        <div class="grey-container survey-form">
            <div class="survey-header">
                <img class="svg-icon" src="{{ url_for('static', filename='img/icon_lightning.svg') }}" alt="lightning icon">
                <legend>Charger</legend>
            </div>
            <div class="input-box">
                {{ form.dc_ac.label }}
                {{ form.dc_ac }}
                {% if form.dc_ac.errors %}
                <div class="error">
                    {% for error in form.dc_ac.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.manufacturer.label }}
                {{ form.manufacturer }}
                {% if form.manufacturer.errors %}
                <div class="error">
                    {% for error in form.manufacturer.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.model.label }}
                {{ form.model }}
                {% if form.model.errors %}
                <div class="error">
                    {% for error in form.model.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.charger_amount.label }}
                {{ form.charger_amount }}
                {% if form.charger_amount.errors %}
                <div class="error">
                    {% for error in form.charger_amount.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.charging_power.label }}
                {{ form.charging_power }}
                {% if form.charging_power.errors %}
                <div class="error">
                    {% for error in form.charging_power.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                

                <div>
                    {{ form.installation_method.label  }}
                    {% for subfield in form.installation_method %}
                    <div class="slider-checkbox">
                        {{ subfield }}
                        {{ subfield.label(class="label") }}
                    </div>
                    {% endfor %}
                </div>
                {% if form.installation_method.errors %}
                <div class="error">
                    {% for error in form.installation_method.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.communication.label }}
                {{ form.communication }}
                {% if form.communication.errors %}
                <div class="error">
                    {% for error in form.communication.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                <div class="slider-checkbox">
                    {{ form.foundation }}
                    {{ form.foundation.label(class="label") }}          
                </div>
                {% if form.foundation.errors %}
                <div class="error">
                    {% for error in form.foundation.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Installation form -->
        <div class="grey-container survey-form">
            <div class="survey-header">
                <img class="svg-icon" src="{{ url_for('static', filename='img/icon_build.svg') }}" alt="wrench icon">
                <legend>Installation</legend>
            </div>
            <div class="input-box">
                {{ form.requested_date.label }}
                {{ form.requested_date(placeholder="1.1.2019") }}
                {% if form.requested_date.errors %}
                <div class="error">
                    {% for error in form.requested_date.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.grid_connection.label }}
                {{ form.grid_connection }}
                {% if form.grid_connection.errors %}
                <div class="error">
                    {% for error in form.grid_connection.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.grid_cable.label }}
                {{ form.grid_cable }}
                {% if form.grid_cable.errors %}
                <div class="error">
                    {% for error in form.grid_cable.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.max_power.label }}
                {{ form.max_power }}
                {% if form.max_power.errors %}
                <div class="error">
                    {% for error in form.max_power.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.consumption_point_fuse.label }}
                {{ form.consumption_point_fuse }}
                {% if form.consumption_point_fuse.errors %}
                <div class="error">
                    {% for error in form.consumption_point_fuse.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.maincabinet_rating.label }}
                {{ form.maincabinet_rating }}
                {% if form.maincabinet_rating.errors %}
                <div class="error">
                    {% for error in form.maincabinet_rating.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                <div class="slider-checkbox">
                    {{ form.empty_fuses }}
                    {{ form.empty_fuses.label(class="label") }}
                </div>
                {% if form.empty_fuses.errors %}
                <div class="error">
                    {% for error in form.empty_fuses.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.number_of_slots.label }}
                {{ form.number_of_slots }}
                {% if form.number_of_slots.errors %}
                <div class="error">
                    {% for error in form.number_of_slots.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.signal_strength.label }}
                {{ form.signal_strength }}
                {% if form.signal_strength.errors %}
                <div class="error">
                    {% for error in form.signal_strength.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.installation_location.label }}
                {{ form.installation_location }}
                {% if form.installation_location.errors %}
                <div class="error">
                    {% for error in form.installation_location.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.pic_installation_location.label }}
                {{ form.pic_installation_location }}
                {% if form.pic_installation_location.errors %}
                <div class="error">
                    {% for error in form.pic_installation_location.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.pic_maincabinet.label }}
                {{ form.pic_maincabinet }}
                {% if form.pic_maincabinet.errors %}
                <div class="error">
                    {% for error in form.pic_maincabinet.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.pic_subcabinet.label }}
                {{ form.pic_subcabinet }}
                {% if form.pic_subcabinet.errors %}
                <div class="error">
                    {% for error in form.pic_subcabinet.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.pic_additional.label }}
                {{ form.pic_additional }}
                {% if form.pic_additional.errors %}
                <div class="error">
                    {% for error in form.pic_additional.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {{ form.submit }}
    </form>
</div>

<!-- Floating footer for tabs and save -->
<footer class="fixed-footer">
    <span id="customer">Customer</span>
    <span id="installation">Installation</span>
    <img class="svg-icon" src="{{ url_for('static', filename='img/icon_save.svg') }}" alt="save icon">
</footer>

{% endblock %}