{% extends "layout.html" %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/workorder.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="grey-container survey-form">
        <div class="survey-header">
            <img class="svg-icon" src="{{ url_for('static', filename='img/icon_person.svg') }}" alt="person icon">
            <legend>Customer</legend>
        </div>
        <div class="input-box">
            {{ form.organization_name.label }}
            {{ form.organization_name }}
            <label for="">Contact person</label>
            <p>Firstname Lastname</p>
            <p>Phonenumber</p>
            <p>Email</p>
        </div>
        <button type="button">Create new customer</button>
    </div>
    <div class="grey-container survey-form">
        <div class="survey-header">
            <img class="svg-icon" src="{{ url_for('static', filename='img/icon_building.svg') }}" alt="building icon">
            <legend>Location</legend>
        </div>
        <div class="input-box">
            {{ form.location_name.label }}
            {{ form.location_name }}
            {{ form.address.label }}
            {{ form.address }}
            {{ form.postal_code.label }}
            {{ form.postal_code }}
            {{ form.city.label }}
            {{ form.city }}
            {{ form.country.label }}
            {{ form.country }}
        </div>
    </div>
    <div class="grey-container survey-form">
        <div class="survey-header">
            <img class="svg-icon" src="{{ url_for('static', filename='img/icon_build.svg') }}" alt="wrench icon">
            <legend>Installation</legend>
        </div>
        <div class="input-box">
            {{form.public_chargers.label}}
            {{form.public_chargers}}
            {{form.public_installation_location.label}}
            {{form.public_installation_location}}
            {{form.private_chargers.label}}
            {{form.private_chargers}}
            {{form.private_installation_location.label}}
            {{form.private_installation_location}}
            {{form.attachment_1.label}}
            {{form.attachment_1}}
            {{form.attachment_2.label}}
            {{form.attachment_2}}
            {{form.attachment_3.label}}
            {{form.attachment_3}}
            <div>
                {{form.installation_type.label}}
                {% for subfield in form.installation_type %}
                <div class="slider-checkbox">
                    {{ subfield }}
                    {{ subfield.label(class="label") }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="grey-container">
        <table id="productTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Prd No</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="productBody">
                <tr>
                    <td>1</td>
                    <td><input type="text" class="productField" list="productList"></td>
                    <td></td>
                    <td><input type="number" class="amountField"></td>
                    <td>pcs</td>
                    <td></td>
                    <td class="totalColumn"></td>
                    <td><img class="icon-small" src="{{ url_for('static', filename='img/icon_trash.svg') }}" alt="Trash bin icon"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text" class="productField" list="productList"></td>
                    <td></td>
                    <td><input type="number" class="amountField"></td>
                    <td>pcs</td>
                    <td></td>
                    <td class="totalColumn"></td>
                    <td><img class="icon-small" src="{{ url_for('static', filename='img/icon_trash.svg') }}" alt="Trash bin icon"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text" class="productField" list="productList"></td>
                    <td></td>
                    <td><input type="number" class="amountField"></td>
                    <td>pcs</td>
                    <td></td>
                    <td class="totalColumn"></td>
                    <td><img class="icon-small" src="{{ url_for('static', filename='img/icon_trash.svg') }}" alt="Trash bin icon"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text" class="productField" list="productList"></td>
                    <td></td>
                    <td><input type="number" class="amountField"></td>
                    <td>pcs</td>
                    <td></td>
                    <td class="totalColumn"></td>
                    <td><img class="icon-small" src="{{ url_for('static', filename='img/icon_trash.svg') }}" alt="Trash bin icon"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text" class="productField" list="productList"></td>
                    <td></td>
                    <td><input type="number" class="amountField"></td>
                    <td>pcs</td>
                    <td></td>
                    <td class="totalColumn"></td>
                    <td><img class="icon-small" src="{{ url_for('static', filename='img/icon_trash.svg') }}" alt="Trash bin icon"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td id="addTableRow">Add row</td>
                </tr>
                <tr>
                    <th scope="row" colspan="6">Order total</th>
                    <td id="tableTotalTd"></td>
                </tr>
            </tfoot>
        </table>
        <datalist id="productList"></datalist>
    </div>
</div>
{% endblock %}