{% extends "layout.html" %}

{% block content %}

<div class="grey-container">
    <h1>{{ workorder.title }}</h1>
    <p><span>Created: </span> {{ workorder.create_date.strftime('%d.%m.%Y - %H:%M') }}</p>
    <p><span>Updated: </span> {{ workorder.update_date.strftime('%d.%m.%Y - %H:%M') }} </p>
    <a href=" {{ url_for('survey.create_survey') }} "class="btn">Create survey</a>

    <h2>Location</h2>
    <p><span>Workorder Status: </span> {{ workorder.status }} </p>
    <p><span>Requested date: </span> {{ workorder.requested_date.strftime('%d.%m.%Y') }} </p>
    <p><span>Name: </span>{{ workorder.location[0].name }} </p>
    <p><span>Address: </span>{{ workorder.location[0].address }}, {{ workorder.location[0].postal_code }} {{ workorder.location[0].city }}</p>
    <p><span>Country: </span>{{ workorder.location[0].country }} </p>
    <p><span>Coordinates: </span>Lat {{ workorder.location[0].coordinate_lat }} Long {{ workorder.location[0].coordinate_long }} </p>
    
    <h2>Contact persons</h2>
    {% for contact_person in workorder.org[0].contact_persons %}
        <p><span>Name: </span>{{ contact_person.first_name }} {{ contact_person.last_name }}</p>
        <p><span>Title: </span>{{ contact_person.title }}</p>
        <p><span>Email: </span>{{ contact_person.email }}</p>
        <p><span>Phone: </span>{{ contact_person.phone_number }}</p>
    {% endfor %}

    <h2>Installation</h2>
    <p><span>Public chargers: </span>{{ workorder.public_chargers }} </p>
    <p><span>Public chargers installation location: </span>{{ workorder.public_installation_location }} </p>
    <p><span>Public chargers charging power / outlet: </span>{{ workorder.public_charging_power }} </p>
    <p><span>Private chargers: </span>{{ workorder.private_chargers }} </p>
    <p><span>Private chargers installation location: </span>{{ workorder.private_installation_location }} </p>
    <p><span>Private chargers charging power / outlet: </span>{{ workorder.private_charging_power }} </p>
    <p><span>Installation type of the workorder</span>{{ workorder.installation_type }} </p>
    <div class="grey-container">
        <h2>Products:</h2>
        <table id="productTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Prd No</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="productBody">
            {% for item in workorder.line_items %}
                <tr>
                    <td></td>
                    <td>{{ item.product.product_number }}</td>
                    <td>{{ item.product.product_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.unit_of_material }}</td>
                    <td>{{ item.product.price }}</td>
                    <td class="totalColumn">{{ item.total }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="6">Order total</th>
                    <td id="tableTotalTd">{{ workorder.total }}</td>
                </tr>
            </tfoot>
                    
        </table>
    </div>
    <div>
        {# Insert all the pictures from the surveys to the page #}
        {% for file in filenames %}
            <img src="{{ url_for('static', filename=file) }} " alt="">
        {% endfor %}
    </div>
</div>



{% endblock %}