// ===================
// Universal styles
//===================

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


// ===================
// Base style
// ===================

body {
    height: 100%;
    font-family: $main-font;
    background-color: $bg-white;
}

// ===================
// Typography
// Type scale (https://type-scale.com/):
// Base size (1em): 16px
// Scale: 1.250 - Major Third
// =================== 

h1 {
    font-size: 2.441rem;
}

h2 {
    font-size: 1.953rem;
}

h3 {
    font-size: 1.563rem;
}

h4 {
    font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
    // Hover effect for nav items
    &:hover {
        color: $lightblack;
    }
}

button,
input[type=submit] {
    background-color: $darkgrey;
    padding: 10px;
    display: block;
    margin: 10px auto;
    border: none;

    // Hover style for the button
    &:hover {
        background-color: $darkgrey-hover;
    }
}

table {
    /* Table layout fixed so table behaves more predictable and being able to size the
    columns based on the th width */
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    thead {
        tr {
            background: $darkgrey;
            margin-bottom: 15px;
            th {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
}
